.DS_Store
.env
.env.*
*.iml
*.jks
*.key
*.keystore
*.p12
*.pem
.gradle/
.idea/
.idea/httpRequests/
.idea/shelf/
.idea/tasks.xml
.idea/workspace.xml
.intellijPlatform/
.kotlin/
build/
local.properties
out/
